<footer class="footer">
    <div class="container text-center ">
        <div class="row">
            <div class="col-md-4">
                <h4>About Us</h4>
                <p style="font-size:20px;">AI-powered modest fashion stylist helping users find the perfect outfit.</p>
            </div>
            <div class="col-md-4">
                <h4>Quick Links</h4>
                <ul class="list-unstyled">
                    <a class="Links" routerLink="/Home">Home | </a>
                    <a class="Links" routerLink="/shop">Shop | </a>
                    <a class="Links" routerLink="/stylist">AI Stylist | </a>
                    <!-- <a class="Links" routerLink="#">Blog | </a> -->
                    <a class="Links" routerLink="/donate">Donate | </a>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Follow Us</h4>
                <a href="http://www.linkedin.com/in/israa-abdelghany" class="me-2"><i
                        class="fab fa-facebook fa-lg"></i></a>
                <a href="https://www.linkedin.com/in/hajar-elbehairy-b84551244?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                    class="me-2"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="https://www.linkedin.com/in/yasmin-kadry" class="me-2"><i class="fab fa-x fa-lg"></i></a>
                <a href="https://www.linkedin.com/in/rehab-abdulghaffar-300a9627b/" class="me-2">
                    <i class="fab fa-whatsapp fa-lg"></i></a>
            </div>
            <p class="mt-1">&copy; 2025 LABESNY AI Stylist. All rights reserved.</p>
        </div>
    </div>
</footer>