.outfit-card:hover, .wardrobe-card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

:host {
    display: block;
    min-height: 100vh;
    background-image: url("../../../public/background.png"); 
    background-size: cover;
    background-position: center;
    
  }
.card{
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgb(33, 56, 111);
    background-color:#ffffff;
}

.card:hover {
    transform: scale(1.05); 
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
  }